.yoti-connect a#yoti-unlink-button {
  display: inline-block;
  cursor: pointer;
  background-color: #2d9fff;
  background-image: none;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto','Helvetica', sans-serif;
  font-size: 14px;
  padding: 4px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#yoti-register .yoti-login-message {
  margin: 0 0 15px 0;
}

#yoti-register .form-item-yoti-nolink {
  margin-bottom: 0;
}
